<head>
  <title>Googlemaps Heatmap Layer</title>
  
  <style>
    html, body, #map {
      height: 100%;
      padding: 0;
      margin: 0;
    }
  </style>

  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  
</head>

<section ng-controller="QueriesController" ng-init="findOne()">
  <h1>Query</h1>
  <h4 style="text-align: center;">{{query.built_query}}</h4>
  <br>
  <h1>Results</h1>
  <h4 style="text-align: center;">{{query.query_results}}</h4>

  <div>
    <h1>Line Plot</h1>
    <a href="https://plot.ly/~matthewlv30/2" target="_blank" title="y" style="display: block; text-align: center;"><img src="https://plot.ly/~matthewlv30/2.png" alt="y" style="max-width: 100%;width: 500px;"  width="500" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="matthewlv30:2"  src="https://plot.ly/embed.js" async></script>
    </div>
    
    <div>
    <h1>TimeLine Plot</h1>
    <a href="https://plot.ly/~matthewlv30/4" target="_blank" title="y" style="display: block; text-align: center;"><img src="https://plot.ly/~matthewlv30/4.png" alt="y" style="max-width: 100%;width: 500px;"  width="500" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="matthewlv30:4"  src="https://plot.ly/embed.js" async></script>
    </div>
    
    
    <div>
    <h1>SubPlot Plot</h1>
    <a href="https://plot.ly/~matthewlv30/8" target="_blank" title="y" style="display: block; text-align: center;"><img src="https://plot.ly/~matthewlv30/8.png" alt="y" style="max-width: 100%;width: 500px;"  width="500" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="matthewlv30:8"  src="https://plot.ly/embed.js" async></script>
    </div>

    
    <div>
    <h1>Scatter Plot</h1>
    <a href="https://plot.ly/~matthewlv30/6" target="_blank" title="y" style="display: block; text-align: center;"><img src="https://plot.ly/~matthewlv30/6.png" alt="y" style="max-width: 100%;width: 500px;"  width="500" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="matthewlv30:6"  src="https://plot.ly/embed.js" async></script>
    </div>

    
    <div>
    <h1>3D Plot</h1>
    <a href="https://plot.ly/~matthewlv30/10" target="_blank" title="y" style="display: block; text-align: center;"><img src="https://plot.ly/~matthewlv30/10.png" alt="y" style="max-width: 100%;width: 500px;"  width="500" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="matthewlv30:10"  src="https://plot.ly/embed.js" async></script>
    </div>

    <iframe width='100%' height='520' frameborder='0' src='https://gdelt.cartodb.com/viz/dba8d716-f804-11e4-b9c4-0e853d047bba/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  

    
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</section>
