<body>
  <section ng-controller="HomeController">
    <style>
      body {
        background-image: url('modules/core/client/img/brand/city.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
    <div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
          <img alt="GDELT" class="img-responsive text-center" src="modules/core/client/img/brand/GDELT-World.gif" />
        </div>
      </div>
      <br>
      <div class="col-md-12 text-center">
        <div class="btn-group">
          <p>
            <a class="btn btn-primary btn-lg" href="http://gdeltproject.org/" target="_blank">Learn more</a>
            <a class="btn btn-primary btn-lg" ui-sref="queries.create">Make a Query</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
